body {
  background-color: #5eaaa8;
  font-family: 'Palanquin', sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;

}

h2 {


}

hr {
  border-top: 5px black solid;
  border-bottom: 5px black double;

}
